# Ignore all node_modules directories
node_modules/

# Ignore build output directories
dist/
build/

# Ignore coverage directories
coverage/

# Ignore configuration files
*.config.js
*.config.ts

# Ignore environment files
.env
.env.*

# Ignore log files
*.log

# Ignore specific files
package-lock.json
yarn.lock
.yarn/
.githooks/
.vscode/
.idea/
test/conf/malformatted*
